<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Picture of the day</h4>
      <a href="{{smallcase_url[image_url]}}" target=_blank> <img src="{{image_url}}" /> </a>
      <p><small>Courtesy: <a href="https://google.com">Google</a></small></p>
    </div>
  </body>
</html>
